@use "../../../styles/tokens";

.avatar {
  border-radius: 50%;
  object-fit: cover;
  display: inline-grid;
  place-items: center;
  font-size: tokens.fs(sm);
}

.fallback {
  background: #3eb6ef;
  color: #0f1d26;
  font-weight: 700;
}
