@use "../../../styles/tokens";

.pagination {
  display: inline-flex;
  gap: 0.375rem;
}

.page-btn {
  border: 0.0625rem solid #d2d2d6;
  background: #f2f2f2;
  color: #67676e;
  border-radius: tokens.radius(md);
  min-width: 2rem;
  height: 2rem;
  padding: 0 0.5rem;
}

.active {
  background: #23bfc1 !important;
  border-color: #23bfc1 !important;
  color: #ffffff !important;
}
